---
apiVersion: hbase.stackable.tech/v1alpha1
kind: HbaseCluster
metadata:
  name: test-hbase
spec:
  version: {{ test_scenario['values']['hbase'] }}
  hdfsConfigMapName: test-hdfs-namenode-default
  zookeeperConfigMapName: test-znode
  config:
    hbaseRootdir: /hbase
  masters:
    roleGroups:
      default:
        configOverrides:
          hbase-site.xml:
            phoenix.log.saltBuckets: "2"
            hbase.regionserver.wal.codec: "org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec"
        replicas: 1
  regionServers:
    roleGroups:
      default:
        configOverrides:
          hbase-site.xml:
            phoenix.log.saltBuckets: "2"
            hbase.regionserver.wal.codec: "org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec"
        replicas: 1
  restServers:
    roleGroups:
      default:
        configOverrides:
          hbase-site.xml:
            phoenix.log.saltBuckets: "2"
            hbase.regionserver.wal.codec: "org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec"
        replicas: 1
