{# Phoenix is only shipped in the HBase 2.x images (it does not support HBase 3.x yet) #}
{% set with_phoenix = test_scenario['values']['hbase'].split(',')[0].startswith('2.') %}
{% if with_phoenix %}
---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
metadata:
  name: test-phoenix-access
commands:
  - script: kubectl exec --namespace=$NAMESPACE -c hbase test-hbase-restserver-default-0 -- chmod +x /tmp/test_phoenix.sh
  - script: kubectl exec --namespace=$NAMESPACE -c hbase test-hbase-restserver-default-0 -- /tmp/test_phoenix.sh
timeout: 480
{% endif %}
