---
apiVersion: hbase.stackable.tech/v1alpha1
kind: HbaseCluster
metadata:
  name: test-hbase
spec:
  image:
{% if test_scenario['values']['hbase'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['hbase'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['hbase'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['hbase'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    hdfsConfigMapName: test-hdfs
    zookeeperConfigMapName: test-znode
    listenerClass: "cluster-internal"
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  masters:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 2
        configOverrides:
          hbase-site.xml:
            # Prevent the master from re-assigning the region when the region server is
            # gone. Otherwise, the test case would not fail if the region mover fails. The
            # default retainment wait period is larger than the test step timeout. This
            # works only for HBase 2.6 (https://issues.apache.org/jira/browse/HBASE-27551).
            hbase.master.scp.retain.assignment: "true"
            hbase.master.scp.retain.assignment.force: "true"
  regionServers:
    config:
      gracefulShutdownTimeout: 2m # one minute for the region mover
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      regionMover:
        runBeforeShutdown: true
        ack: true
        maxThreads: 1
    roleGroups:
      default:
        replicas: 2
  restServers:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 2
