---
apiVersion: hbase.stackable.tech/v1alpha1
kind: HbaseCluster
metadata:
  name: test-hbase
spec:
  image:
{% if test_scenario['values']['hbase'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['hbase'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['hbase'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['hbase'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    hdfsConfigMapName: test-hdfs
    zookeeperConfigMapName: test-znode
    listenerClass: "cluster-internal"
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  masters:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        configOverrides:
          hbase-site.xml:
            phoenix.log.saltBuckets: "2"
            hbase.regionserver.wal.codec: "org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec"
        replicas: 2
  regionServers:
    config:
      gracefulShutdownTimeout: 2m # one minute for the region mover
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      regionMover:
        runBeforeShutdown: true
        ack: true
        maxThreads: 1
    roleGroups:
      default:
        configOverrides:
          hbase-site.xml:
            phoenix.log.saltBuckets: "2"
            hbase.regionserver.wal.codec: "org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec"
        replicas: 2
  restServers:
    config:
      gracefulShutdownTimeout: 1m
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        configOverrides:
          hbase-site.xml:
            phoenix.log.saltBuckets: "2"
            hbase.regionserver.wal.codec: "org.apache.hadoop.hbase.regionserver.wal.IndexedWALEditCodec"
        replicas: 2
