[Unit]
Description=Stackable Operator for Apache HBase
Before=
After=network.target
[Service]
User=root
ExecStart=/opt/stackable/hbase-operator/stackable-hbase-operator
Restart=on-abort
StandardOutput=journal
StandardError=journal
Environment="HBASE_OPERATOR_LOG=info"
[Install]
WantedBy=multi-user.target
