---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: >-
      helm install minio oci://registry-1.docker.io/bitnamicharts/minio
      --version 14.6.9
      --values 10_helm-bitnami-minio-values.yaml
      --namespace $NAMESPACE
    timeout: 240
