---
apiVersion: hbase.stackable.tech/v1alpha1
kind: HbaseCluster
metadata:
  name: test-hbase
spec:
  image:
    productVersion: "{{ test_scenario['values']['hbase-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['hbase-latest'].split('-stackable')[1] }}"
  clusterConfig:
    hdfsConfigMapName: test-hdfs-namenode-default
    zookeeperConfigMapName: test-znode
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  masters:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
  regionServers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources:
        cpu:
          min: 100m
          max: "1"
        memory:
          limit: 1Gi
    roleGroups:
      resources-from-role:
        replicas: 1
      resources-from-role-group:
        config:
          resources:
            cpu:
              min: 300m
              max: "3"
            memory:
              limit: 3Gi
        replicas: 1
  restServers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
