---
apiVersion: hbase.stackable.tech/v1alpha1
kind: HbaseCluster
metadata:
  name: test-hbase
spec:
  image:
    productVersion: "{{ test_scenario['values']['hbase-latest'] }}"
    pullPolicy: IfNotPresent
  clusterConfig:
    hdfsConfigMapName: test-hdfs-namenode-default
    zookeeperConfigMapName: test-znode
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  masters:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
  regionServers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
      resources:
        cpu:
          min: 500m
          max: "1"
        memory:
          limit: 1Gi
    roleGroups:
      resources-from-role:
        replicas: 1
      resources-from-role-group:
        config:
          resources:
            cpu:
              min: 600m
              max: "2"
            memory:
              limit: 2Gi
        replicas: 1
      resources-from-pod-overrides:
        podOverrides:
          spec:
            containers:
              - name: hbase
                resources:
                  requests:
                    cpu: 700m
                  limits:
                    cpu: 2100m
  restServers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
