---
apiVersion: hdfs.stackable.tech/v1alpha1
kind: HdfsCluster
metadata:
  name: test-hdfs
spec:
  image:
    productVersion: "{{ test_scenario['values']['hdfs-latest'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['hdfs-latest'].split('-stackable')[1] }}"
  zookeeperConfigMapName: test-znode
  nameNodes:
    roleGroups:
      default:
        replicas: 2
  dataNodes:
    roleGroups:
      default:
        replicas: 1
  journalNodes:
    roleGroups:
      default:
        replicas: 1
