---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hbase-log-config
data:
  log4j.properties: |
    log4j.rootLogger=INFO, FILE
    log4j.appender.FILE=org.apache.log4j.FileAppender
    log4j.appender.FILE.File=/stackable/log/hbase/hbase.log4j.xml
    log4j.appender.FILE.layout=org.apache.log4j.xml.XMLLayout
  log4j2.properties: |-
    appenders = FILE

    appender.FILE.type = File
    appender.FILE.name = FILE
    appender.FILE.fileName = /stackable/log/hbase/spark.log4j2.xml
    appender.FILE.layout.type = XMLLayout

    rootLogger.level = INFO
    rootLogger.appenderRefs = FILE
    rootLogger.appenderRef.FILE.ref = FILE
---
apiVersion: hbase.stackable.tech/v1alpha1
kind: HbaseCluster
metadata:
  name: test-hbase
spec:
  image:
{% if test_scenario['values']['hbase'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['hbase'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['hbase'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['hbase'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    hdfsConfigMapName: test-hdfs-namenode-default
    zookeeperConfigMapName: test-znode
    vectorAggregatorConfigMapName: hbase-vector-aggregator-discovery
  masters:
    roleGroups:
      automatic-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hbase:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
      custom-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hbase:
                custom:
                  configMap: hbase-log-config
  regionServers:
    roleGroups:
      automatic-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hbase:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
      custom-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hbase:
                custom:
                  configMap: hbase-log-config
  restServers:
    roleGroups:
      automatic-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hbase:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
              vector:
                console:
                  level: INFO
                file:
                  level: INFO
                loggers:
                  ROOT:
                    level: INFO
      custom-log-config:
        replicas: 1
        config:
          logging:
            enableVectorAgent: true
            containers:
              hbase:
                custom:
                  configMap: hbase-log-config
